*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.start-navbar{
    background-color: #212529;

}
.nav-link:hover{
    color: gainsboro !important;
}

.navbar-toggler{
    background-color: white;
}
.start-web{
    margin-top: 10rem;
}
.centerCard{
    background-color: #F8F9FA;
    margin-top: 5rem;
}
.centerList{
    list-style-type: none;
}
.finishButton button{
    width: 15rem;
    margin-top: 2rem;
}
.finishButton1{
    width: 15rem;
    margin-top: 1.5rem;
}